python-social-auth
pillow
dj-database-url
dj-static
django-appconf
django-compressor
django-debug-toolbar
django-toolbelt
djangorestframework
django-rest-swagger
drf-nested-routers
psycopg2
six
sqlparse
static3
wsgiref
uwsgi