<div class="row">
  <div class="container-fluid">
    <h1>Edit</h1>

    <div class="well">
      <form role="form" ng-submit="confirm(task)">
        <div class="form-group">
          <label for="edit__title">Title</label>
          <input type="text" class="form-control" id="edit__title" ng-model="task.title" placeholder="{{ task.title }}" />
        </div>

        <div class="form-group">
          <label for="edit__summary">Summary</label>
          <input type="text" class="form-control" id="edit__summary" ng-model="task.summary" placeholder="{{ task.summary }}" />
        </div>

        <div class="form-group">
          <label for="edit__end_date">Date</label>
          <input type="date" class="form-control" id="edit__end_date" ng-model="task.end_date" placeholder="{{ task.end_date }}" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <input type="button" class="btn" value="close" ng-click="closeThisDialog()"/>
        </div>
      </form>
    </div>
  </div>
</div>
