<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Edit</h1>

    <div class="well">
      <form role="form" ng-submit="vm.edit()">
        <div class="form-group">--{{task}}==
          <label for="add__title">Title</label>
          <input type="text" class="form-control" id="add__title" ng-model="vm.title" placeholder="{{ vm.title }}" />
        </div>

        <div class="form-group">
          <label for="add__summary">Summary</label>
          <input type="text" class="form-control" id="add__summary" ng-model="vm.summary" placeholder="task.summary" />
        </div>

        <div class="form-group">
          <label for="add__end_date">Date</label>
          <input type="date" class="form-control" id="add__end_date" ng-model="vm.end_date" placeholder="" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
