<div class="row">
  <div class="container-fluid" ng-controller="TasksController">
    <div class="well">
      <div class="task"
        data-drop="true" data-drag="false" 
        jqyoui-droppable="{placeholder:true,animate:true, multiple:true,stack:true, onDrop: 'dropCallback(task)', onOver: 'overCallback(task)'}"
        ng-model="task"
        >
        <div class="task__meta">
            {{ task.title }} 
        </div>

        <div class="task__content">
          {{ task.end_date|date }} 
        </div>
        <div class="task__content">
          {{ task.summary }}
        </div>
        <div class="form-group">{{task.id}}
            <a 
            href="javascript:void(0)"
            ng-click="vm.update(task)">edit</a>
            <a 
            href="javascript:void(0)"
            ng-click="vm.destroy(task)">delete</a>
        </div>
        <div class="form-group">
            <users users="task.team" task="task" ng-show="task.team && task.team.length"></users>
        </div>
      </div>
    </div>
  </div>
</div>